html { 
    background: url(assets/Marie_Isla_Pendl.JPEG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  
  .registry{
      background-color: #f4be15;
      border:2px;
      border-radius: 15px;
      margin: 50px 50px 50px 50px;
      padding: 20px 30px 30px 40px;
      width: 300px; 
      float: right;
  }